<div class='resource'>
  <button class='image'>
    <img src={{this.imageUrl @resource}} alt='Preview image' />
  </button>
  <div class='details'>
    <h2>{{@resource.title}}</h2>
    <p class='metadata lightweight italic'>{{@location.name}}  •  {{this.exchangeLabel @resource}}</p>
    <p class='description'>{{@resource.description}}</p>
    <div class='spacer' />
    <button type='button' {{ on 'click' (fn this.signUp @resource) }}>
      Contact Organizer
    </button>
  </div>
</div>
